<B><H2> Data preparation template</H2></B>

cherry o'connell

In [ ]:
#import all required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#remove warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#read data and display first 5 rows. change source of data (sample_data.csv)

data = pd.read_csv('sample_data.csv')
data.head()

In [ ]:
#display last row

data.tail()

In [ ]:
#display data columns

data.columns

In [ ]:
#drop unnecessary column. change 'sample_column' to column that needs to be dropped

data.drop('sample_column: 0', inplace=True, axis=1)

In [ ]:
#display data shape

data.shape

In [ ]:
#display data information

data.info()

In [ ]:
#numerical data summary or statistics summary

data.describe()

In [ ]:
data.describe().T

In [ ]:
#display statistical summary of all data including object, etc.

data.describe(include='all').T

<B> <H3> DATA CLEANING </H3> </B> 

<B> DUPLICATES </B>

It is essential to address duplicates in a dataset

In [ ]:
data.nunique()

In [ ]:
data.duplicated().sum().

In [ ]:
x = data['crime id'].value_counts().loc[lambda x : x>1]
y = x.count()
y

In [ ]:
#drop duplicates in a specific column

data = data.drop_duplicates(subset=['duplicate_column'])

In [ ]:
#drop all duplicates

data.drop_duplicates()

In [ ]:
#confirm there are no duplicates left

x = data['crime id'].value_counts().loc[lambda x : x>1]
y = x.count()
y

In [ ]:
#check data info again

data.info()

<B> NULL VALUES </B>

It is important to inspect and understand what are the null values and why there are such values in the data. You can then decide if you have to drop them or impute new values e.g., mean, median, or zero, etc.

In [ ]:
#check for null values in dataset

data.isna().sum()

In [ ]:
#visualise the null values

plt.figure(figsize = (8,7))
sns.heatmap(data.isnull(), yticklabels=False, cbar=False, cmap='viridis')
plt.show()
plt.savefig('Missing Values')

In [ ]:
#use if you have drop null values

data.dropna()

In [ ]:
#use if you have change null values to zero

data.loc[data["null_column"]==0.0,'null_column']=np.nan
data.null_column.isnull().sum()

In [ ]:
#use if you have impute null values with other value e.g., mean value

data['null_column'].fillna(value=np.mean(data['null_column']),inplace=True)

In [ ]:
#fill in nulls with another value e.g., 'Other not Known'

data['null_column'] = data['null_column'].fillna('Other not Known')

In [ ]:
#drop remaining nulls that can not be filled

data.dropna(inplace=True)

In [ ]:
# re-check for null values in dataset

data.isna().sum()

In [ ]:
#after cleaning, display numerical and categorical variables separately

cat_cols = data.select_dtypes(include=['object']).columns
num_cols = data.select_dtypes(include=np.number).columns.tolist()
print("Categorical Variables:")
print(cat_cols)
print("Numerical Variables:")
print(num_cols)